@model CrudeNews.Web.ViewModels.UserViewModel

<div class="col-md-4">
    <img src="@Url.Content(this.Model.AvatarPath)" />
</div>
<div class="col-md-8">
    <h2>@this.Model.Username</h2>
</div>
<div class="col-md-12">
    Age: @this.Model.Age
</div>

