@using CrudeNews.Web.Models.Articles
@model IDictionary<String, IQueryable<ArticleSmallViewModel>>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var modelWithCategory in this.Model)
    {
        @Html.Partial("~/Views/Shared/_ArticleSmall.cshtml", modelWithCategory)
    }
</div>