﻿@using PagedList;
@using PagedList.Mvc;
@using CrudeNews.Web.Models.Articles;
@model AllArticlesViewModel

@Html.PagedListGoToPageForm(this.Model.Articles, Url.Action("All"))

<ul id="names" start="@this.Model.Articles.FirstItemOnPage">
    @foreach (var i in this.Model.Articles)
    {
        <li>@i</li>
    }
</ul>

@Html.PagedListPager(this.Model.Articles, page => Url.Action("All", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive", OnComplete = "PagedOnComplete" }))
