@using CrudeNews.Web.Models.Articles
@model KeyValuePair<String, IQueryable<ArticleSmallViewModel>>

@this.Model.Key
@foreach (var article in this.Model.Value)
{
    <div id="mycarousel" class="carousel slide" data-ride="carousel" style="height:300px; width:400px;">
        <div class="carousel-inner">
            <div class="item active">
                <img src="@Url.Content(article.ImagePath)" alt="article.Model.Title" class="img-responsive">
                <div class="carousel-caption">
                    @article.Title
                </div>
            </div>
        </div>
    </div>
}
<hr />
