@using PagedList
@using PagedList.Mvc
@using CrudeNews.Web.Models.Articles;
@model AllArticlesViewModel

@{
    ViewBag.Title = "All";
}
<div id="unobtrusive">
    @Html.Partial("_Pages")
</div>

<h2>All</h2>

