﻿@using PagedList;
@using PagedList.Mvc;
@using CrudeNews.Web.ViewModels.Articles;

@model ICollection<ArticleViewModel>

<div class="container">
    @foreach (var article in this.Model)
    {
        <div class="row">
            <div class="col-md-2">
                <div class="well text-center">
                    <div class="row">@article.Comments.Count</div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <h4>
                        @Html.ActionLink(article.Title, "Show", "Articles",
                        new
                        {
                            id = article.Id
                        }, null)
                    </h4>
                    <p>
                        @WebUtility.HtmlDecode(new string(article.Content.Take(100).ToArray()) + " ...")
                    </p>
                </div>
                <div class="row">
                    @foreach (var tag in article.Tags)
                    {
                        <span class="label label-default">@Html.ActionLink(tag.Name, "GetByTag", new { tag.Name })</span>
                    }
                </div>
            </div>
        </div>
        <hr />
    }
</div>

